.g-page {
  padding: 16px 24px;

  .g-page-query {
    padding: 16px;
    background: #fff;
    border-radius: 2px;
  }

  .g-page-list {
    padding: 16px;
    background: #fff;
    border-radius: 2px;
  }

  .g-page-query + .g-page-actions {
    margin-top: 8px;
  }

  .g-page-query + .g-page-list {
    margin-top: 16px;
  }

  .g-page-actions + .g-page-list {
    margin-top: 24px;
  }

  .g-page-form {
    max-width: 980px;
  }

  .g-page-form--small {
    max-width: 780px;
  }

  .g-page-actions {
    margin-bottom: 24px;
  }
}

.g-page-detail {
  margin: 16px 24px;
}

.g-loading-block {
  background: linear-gradient(
    90deg,
    rgb(207 216 220 / 20%),
    rgb(207 216 220 / 40%),
    rgb(207 216 220 / 20%)
  );
  background-size: 600% 600%;
  animation: animation 1.4s ease infinite;
}

.app-portrait {
  .g-page {
    padding: 8px;
  }

  .g-page-detail {
    margin: 8px;
  }
}
